.gds-auto-complete {
  position: relative;
  width: auto;

  .gds-autocomplete__input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    .gds-autocomplete__input {
      padding-left: 0.5em;
      padding-right: 2em;
    }
  }

  .gds-autocomplete__dropdown-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .gds-autocomplete__menu {
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
    max-height: 20em;
    color: black;

    .gds-autocomplete__menu-list,
    .gds-auto-complete__menu-list-no-results {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      box-sizing: border-box;
      max-height: inherit;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 100;
      border: 2px solid #0b0c0c;
      border-top: 0;

      .gds-autocomplete__option {
        display: flex;
        align-items: center;
        padding-left: 0.5em;
        font-size: 19px;
        color: #0b0c0c;
        min-height: 2em;

        &:not(
            .gds-autocomplete__option--is-focused,
            .gds-autocomplete__option--is-selected
          ):nth-child(even) {
          background-color: #fafafa;
          color: #0b0c0c;
        }

        &:not(
            .gds-autocomplete__option--is-focused,
            .gds-autocomplete__option--is-selected
          ):nth-child(odd) {
          background-color: white;
          color: #0b0c0c;
        }

        &.gds-autocomplete__option--is-selected {
          background-color: #1d70b8;
          color: white;
        }

        &.gds-autocomplete__option--is-focused {
          background-color: #1d70b8;
          color: white;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #b1b4b6;
        }
      }
    }
  }
}
